<p>
  <strong>Name:</strong>
  <%= @sensor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sensor.description %>
</p>

<p>
  <strong>Model:</strong>
  <%= @sensor.model %>
</p>

<table>
  <tr>
    <th>Sensor ID</th>
    <th>Value</th>
    <th>Created At</th>
  </tr>
